body {
  background-color: #f4faff;
}

.navbar {
  background-color: #ffffff !important;
  box-shadow: 0 1px 4px 0 rgba(99,114,130,0.15);
}

.card {
  border: 0;
  box-shadow: 0 1px 4px 0 rgba(99,114,130,0.15);

  .card-header {
    background-color: #ffffff;
  }

  .list-group-item:not(:first-child) {
    border-top: 1px dashed rgba(0, 0, 0, 0.125) !important;
  }
}

.btn-light {
  background-color: #fff;
}
